*{
    margin: 0;
    padding: 0;
    background-color: black;
    border: 2px solid grey;
}
<<<<<<< HEAD
div{
    background-color: white;
    color: black;
}

div h1{
    font-size: 50px;
}
=======
<<<<<<< HEAD
=======
div
>>>>>>> parent of b504a2f (css 1)
>>>>>>> parent of 62d818b (div added only)
